<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>1006092607504-2g6vocjl43mcm7se5l3qsm9e45k2bfmm.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1006092607504-2g6vocjl43mcm7se5l3qsm9e45k2bfmm</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
